<!-- public/index.html -->
<!doctype html>
<!DOCTYPE html>
<html>

<head>

<body>
    <img src="./ifsp-alto-tiete.jpg">
    <h1> Avaliação contínua </h1>
    <h2> Aluno do IFSP, bem-vindo ao <%=nome %></h2>
</body>
</head>

</html>